<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
            <h1>Helplis</h1>
            <h3>Faça já seu cadastro!</h3>
        <form id="formCadastro">
            <h2>Criar Conta</h2>
            <input type="text" id="usuarioCadastro" placeholder="Escolha um usuário" required>
            <input type="password" id="senhaCadastro" placeholder="Crie uma senha" required>
            <button type="submit">Cadastrar</button>
            <p>Já tem conta? <a href="/entrar">Faça Login</a></p>
        </form>
    </div>
    <script src="/js/script.js"></script>
</body>
</html>