<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
            <h1>Helplis</h1>
            <h3>Sua rotina acadêmica sob controle.</h3>
        <form id="formLogin">
            <h2>Entrar</h2>
            <input type="text" id="usuarioLogin" placeholder="Usuário" required>
            <input type="password" id="senhaLogin" placeholder="Senha" required>
            <button type="submit">Entrar</button>
            <p>Não tem conta? <a href="/cadastro">Cadastre-se</a></p>
        </form>
    </div>
    <script src="/js/script.js"></script> 
</body>
</html>